:root {
  --main-box-shadow: 0px 0px 25px 3px rgba(33, 144, 235);
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-125%);
  }
}
@keyframes cardSlideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Averia Sans Libre", cursive;
}

button {
  border: none;
  background-color: white;
  color: white;
  font-family: "Averia Sans Libre", cursive;
  cursor: pointer;
}
button:focus {
  outline-style: none;
}

.intro {
  width: 100vw;
  height: 125vh;
  margin-top: -25vh;
  display: flex;
  position: absolute;
  background-color: rgb(154, 255, 96);
  z-index: 1;
  animation: 2s cubic-bezier(0.96, -0.12, 1, 0.96) 0s 1 slideUp forwards;
  animation-direction: normal;

  box-shadow: var(--main-box-shadow);
}
.intro-text-container {
  margin: 75vh auto 0vh auto;
  size: auto;
}
.intro-text {
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 50vh auto 0 auto;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(46, 179, 255);
  z-index: 1;
}

.btn-compliment {
  margin: 25vh auto 0 auto;
  width: 25vw;
  height: 10vh;
  background-color: rgb(65, 185, 255);
  font-size: 2em;

  box-shadow: -0px -0px 5px 5px rgb(65, 185, 255),
    -5px -5px 15px 3px rgb(109, 202, 255), 5px 5px 15px 3px rgb(19, 156, 235);
  border-radius: 15px;
  transition: 2s cubic-bezier(0, 0.97, 0.38, 0.99);
  color: white;
}

.btn-compliment:hover {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(65, 185, 255);
  box-shadow: -0px -0px 5px 5px rgb(65, 185, 255),
    -5px -5px 15px 3px rgb(19, 156, 235), 5px 5px 15px 3px rgb(109, 202, 255);
  transition: 2s cubic-bezier(0, 0.97, 0.38, 0.99);
}

.card-container {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  display: flex;
  position: absolute;
}

.card {
  display: flex;
  position: relative;

  width: 95vw;
  height: 100vh;
  margin: 0% auto 0% auto;
  border-radius: 5vh;
  z-index: 2;
  background-color: grey;
  box-shadow: var(--main-box-shadow);

  transition: 1s cubic-bezier(0.12, 1.28, 0.56, 0.95);
  transform: translateY(100%);
}

#pCompliment {
  display: block;
  position: relative;
  margin: 10% 10% 0% 10%;
  text-align: center;
  width: 100%;
  height: 100%;

  font-size: 3em;
  color: white;
}

.new-card {
  position: absolute;
  width: 10vh;
  height: 10vh;

  margin: 50vh auto 0% auto;
  background-color: grey;
}

.close-card {
  position: absolute;
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  margin: 2% 0%;
  transform: translateX(90.5vw);
  background-color: grey;
}

.info {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
}
